.sidebar {
  grid-column: 1 / 3;
  grid-row: 2 / span 9;
  border-right: 2px solid #dfdede;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
}
.sidebar a {
  text-decoration: none;
}
