.sidebar {
  grid-column: 1 / 3;
  grid-row: 2 / span 9;
  border-right: 2px solid #dfdede;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 25px;
  justify-content: flex-start;
  align-items: center;
}
.sidebar a {
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.1s;
}
.fa-solid {
  color: #811a8b;
}
.navlink {
  padding: 5px;
  border-radius: 10px;
}
.navlink:hover {
  background-color: aqua;
}
.active {
  background-color: aqua;
  padding: 5px;
}
