.button {
  width: 126px;
  height: 42px;
  background-color: #5959bd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 0 3px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  color: #3535a7;
  background-color: hsl(206deg 67.53% 81.06%);
  border: 1px solid #5959bd;
}

.dashfather {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 10vh);
}
.barfather {
  grid-column: 1 / span 10;
  grid-row: 1 / 2;
  box-shadow: 0px 0px 2px 4px #dfdede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.content {
  grid-column: 3 / span 10;
  grid-row: 2 / span 10;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* table*/
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
tbody tr:nth-child(even) {
  background-color: hsl(129.46deg 100% 79.9% / 45%);
}

th,
td {
  border: 1px solid #cbc5c5;
  padding: 0.75rem;
  text-align: center;
}
th {
  background-color: #5959bd;
  color: #fff;
  font-size: 20px;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
