* {
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}
.parent form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255 255 255);
  width: 454px;
  align-items: center;
  align-content: center;
  padding: 16px 0;
  box-shadow: 0px 0px 16px 0px #afa7a7c7;
  flex-wrap: wrap;
  margin-bottom: 124px;
}
.parent form input {
  width: 374px;
  border-radius: 12px;
  height: 42px;
  border: none;
  border: 2px solid #d5d5d5;
  padding: 10px;
}
.parent form label {
  align-self: flex-start;
  font-weight: 500;
}
.parent form button {
  width: 99px;
  height: 36px;
  margin-top: 7px;
  background-color: #5959bd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.parent form button:hover {
  color: #3535a7;
  background-color: hsl(206deg 67.53% 81.06%);
  border: 1px solid #5959bd;
}
.parent form span {
  font-size: 30px;
  color: #4dd34d;
}

/***********head*************/
.d-flex {
  display: flex;
  justify-content: space-between;
}

.father {
  background-color: #5959bd;
  color: white;
  padding: 0px 22px;
  height: 60px;
  align-items: center;
  font-size: 17px;
}
.father .button {
  width: 85px;
  height: 36px;
  background-color: #5959bd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 0 3px;
  text-decoration: none;
}
.father .button:hover {
  color: #3535a7;
  background-color: hsl(206deg 67.53% 81.06%);
  border: 1px solid #5959bd;
}
